@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header {
  text-align: center;
  padding: 32px;
}

#title {
  font-size: 24px;
  font-weight: 600;
}

#description {
  margin-top: 16px;
  font-size: 18px;
}

.cell:hover {
  stroke: #000;
  stroke-width: 2;
}

#tooltip {
  background-color: rgb(30, 35, 43);
  border-radius: 8px;
  border: 0;
  padding: 12px;
  text-align: center;
  color: #f7f6f6;
  font-size: 16px;
  line-height: 1.2;
  min-width: 180px;
  pointer-events: none;
}

#tooltip span {
  display: block;
}

/* Create a small triangle extender for the tooltip */
#tooltip:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 10px rgb(30, 35, 43);
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}